<% provide(:title, 'Home') %>
  <h1>About Me</h1>
  <%= image_tag("david_face.jpg", alt: "David Roberts", class: "img-float-left") %>
  <p>I'm a composer, software engineer, brewer, and sound designer living in Chicago.
    I love learning what makes things tick and have a passion for building
    complicated systems - be it musically, etc, etc, etc.</p>
  <p>I write music for a variety of media but am partial to electronics.
    I am also co-founder and director of <a href="http://www.secondcycleensemble.com">Second/Cycle</a>,
     a Chicago based new music ensemble.</p>
  <p>More text more text more text.</p>
  <p>Cool stuff about me.  I'll put my <a href="/resume">resume</a> on here at some point.</p>
  <p>Find me in app/views/static_pages/home.html.erb</p>