<% provide(:title, 'Music') %>
  <h1>Music</h1>
  <p>I engage with music in a number of ways - as a composer, organizer, writer, sound designer, audio engineer.</p>
  <p>I have had works performed at home and abroad</p>
  <h2>Selected Projects</h2>
  <ul>
    <li>
      <h3><a href="http://www.secondcycleensemble.com">Second/Cycle</a></h3>
      <p>Second/Cyle is a Chicago-based new music ensemble I co-direct with <a href="https://www.erinraffertyviola.com">Erin Rafferty</a>
        that focuses on integrating live performance with electronic components.</p>
    </li>
    <li>
      <h3><a href="https://musicalinvective.wordpress.com/">Dictionary of Musical Invective</a></h3>
      <p>Wherein I discuss the state of contemporary music.  Snarky attitude; serious thoughts.</p>
    </li>
    <li>
      <h3><a href="works.html">List of Works</a></h3>
      <p>Partial catalog of compositions with recordings (when available).</p>
    </li>
    <li></li>
  </ul>
