<% provide(:title, 'Software') %>
<h1>Software</h1>
<p>My home language is Ruby, which I love for its simplicity and elegance, but I'm a quick study and never
pass up an opportunity to learn another useful tool.</p>
<p>I write code that matches my other passions, music, sound design, brewing, etc.</p>
<p>My background in the arts gives me a unique perspective.</p>
<h2>Selected Projects</h2>
<ul>
  <li>
    <h3><a href="http://www.wamibrew.com">Wamibrew</a></h3>
    <p>Rails-based algorithmic beer recipe generator for homebrewers.
      It semi-randomly assembles a brewable recipe (based on some general rules and probabilities)
      and then attempts to heuristically determine the closest recognized style of the generated recipe.
    </p>
  </li>
  <li>
    <h3>Chord Wrangler</h3>
    <p>
      A tool for computer assisted composition.  It accepts an input chord (or generates a random one)
      and then runs it through a series of successive contrapuntal transformations.  The resulting chordal
      structure can then be the basis of a piece of written-out music.
    </p>
  </li>
  <li>
    <h3>Maker Search</h3>
    <p>
      A searchable archive of instrument makers and their histories aimed at young classical music professionals
      purchasing their first fine stringed instrument.
    </p>
  </li>
</ul>
