<% provide(:title, 'Works') %>
<h1>Selected Works</h1>
<div id="works-list">
  <h2>Electronics</h2>
  <table>
    <tr>
      <td>Cloud Music, electronics (Kyma), 2013.</td>
      <td><iframe width="100%" height="70%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/213527795&amp;default_height=50&amp;color=e33f16&amp;theme_color=ffb624&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_play_account=false&amp;show_reposts=false&amp;single_active=true"></iframe></td>
    </tr>
    <tr>
      <td>Mode 7, electronics (Kyma), 2015.</td>
      <td><iframe width="100%" height="70%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/198960984&amp;default_height=50&amp;color=e33f16&amp;theme_color=ffb624&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_play_account=false&amp;show_reposts=false&amp;single_active=true"></iframe></td>
    </tr>
  </table>
  <h2>Chamber</h2>
  <table>
    <tr>
      <td>String Quartet No. 2 - III. Mercurial, 2vn, va, vc, 2008.</td>
      <td><iframe width="100%" height="70%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/198964002&amp;default_height=50&amp;color=e33f16&amp;theme_color=ffb624&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_play_account=false&amp;show_reposts=false&amp;single_active=true"></iframe></td>
     </tr>
     <tr>
      <td>Piano Quintet - II. Scherzo, pno, 2vn, va, vc, 2009.</td>
      <td><iframe width="100%" height="70%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/213528521&amp;default_height=50&amp;color=e33f16&amp;theme_color=ffb624&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_play_account=false&amp;show_reposts=false&amp;single_active=true"></iframe></td>
    </tr>
    <tr>
      <td>Four Miniatures After K.V. - II. Boku Maru, cl, hn, 2perc, pno, vn, vc, 2010.</td>
      <td><iframe width="100%" height="70%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/213524850&amp;default_height=50&amp;color=e33f16&amp;theme_color=ffb624&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_play_account=false&amp;show_reposts=false&amp;single_active=true"></iframe></td>
    </tr>
  </table>
</div>