<% provide(:title, 'Works') %>
<h1>Selected Works</h1>
<div id="works-list">
  <h2>Electronics</h2>
  <table>
    <tr>
      <td>Title, Instrumentation, Duration, composition year.</td>
      <td><iframe width="100%" height="70%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/112276846&amp;default_height=50&amp;color=e33f16&amp;theme_color=ffb624&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_play_account=false&amp;show_reposts=false&amp;single_active=true"></iframe></td>
    </tr>
    <tr>
      <td>Title, Instrumentation, Duration, composition year.</td>
      <td><iframe width="100%" height="70%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/112276846&amp;default_height=50&amp;color=e33f16&amp;theme_color=ffb624&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_play_account=false&amp;show_reposts=false&amp;single_active=true"></iframe></td>
    </tr>
  </table>
  <h2>Chamber</h2>
  <table>
    <tr>
      <td>Title, Instrumentation, Duration, composition year.</td>
      <td><iframe width="100%" height="70%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/112276846&amp;default_height=50&amp;color=e33f16&amp;theme_color=ffb624&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_play_account=false&amp;show_reposts=false&amp;single_active=true"></iframe></td>
    </tr>
  </table>
  <h2>Orchestral</h2>
  <table>
    <tr>
      <td>Title, Instrumentation, Duration, composition year.</td>
      <td><iframe width="100%" height="70%" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/112276846&amp;default_height=50&amp;color=e33f16&amp;theme_color=ffb624&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_play_account=false&amp;show_reposts=false&amp;single_active=true"></iframe></td>
    </tr>
  </table>
</div>