<!DOCTYPE html>
<html>
<head>
  <title>First theme</title>
  <%= stylesheet_link_tag    "first_theme/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "first_theme/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>