
.navbar-default {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar .navbar-default {
  background-color: hsla(360, 100%, 100%, 1);
}

.navbar-header {
  font-size: 2em;
  letter-spacing: 4px;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: hsla(360, 100%, 100%, 1);
  border-top: 1px #858585 solid;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 800;
  text-align: center;
}

.footer nav {
  text-transform: uppercase;
}

.footer ul {
  list-style-type: none;
  display: inline;
}

.footer li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 85%;
  font-weight: 200;
  letter-spacing: 2px;
}
