
.header {
  background-color: white;
  border-bottom: 1px #858585 solid;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  padding: 0px;
  margin: 0px 0px 0px 0px;
  height: 37px;
  line-height: 32px;
}

.header li {
  text-indent: 0px;
  display: inline;
  vertical-align: middle;
}

.header ul {
  left: 0;
  list-style-type: none;
  display: inline;
  margin-left: 0px;
  margin-right: auto;
  padding-left: auto;
  padding-right: 0px;
  vertical-align: middle;
}

.top-nav {
  position: fixed;
  top: 4px;
  left: 0;
  display: inline;
  vertical-align: middle;
  z-index: 400;
}

#logo {
  padding-top: 1px;
  font-size: 1.1em;
  position: relative;
  display: inherit;
  vertical-align: middle;
  text-indent: 0;
  letter-spacing: 3px;
}

.top-nav li {
  padding-top: 1px;
  display: inherit;
  border-right: 1px #858585 solid;
  padding: 4px 10px 4px 6px;
  vertical-align: middle;
  margin: 0px;
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: auto;
}

.social {
  right: 10px;
  top: 0;
  padding-right: 8px;
  width: 100%;
  position: fixed;
  display: inline;
  text-align: right;

}

.social li {
  display: inline;
  font-size: 1.5em;
  padding-right: 25px;
  color: hsla(360, 100%, 100%, 0);
}

.social-icon {
  position: fixed;
  top: 5px;
  border-radius: 20px 20px 20px 20px;
  background-color: #bfbfbf;
  border: 2px white solid;
  transition: background-color .125s linear 0;
}

.social-icon:hover {
  background-color: hsl(12, 82%, 49%);
}

#twitter {
  transition: all .125s linear 0;
}

#twitter:hover {
  background-color: hsl(40, 100%, 57%);
}

#github {
  transition: all .125s linear 0;
}

#github:hover {
  background-color: hsl(40, 100%, 57%);
}

#email {
  /*content: url(/assets/glyphicons_329_e-mail.png);*/
  transition: all .125s linear 0;
}

#email:hover {
  background-color: hsl(40, 100%, 57%);
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: hsla(360, 100%, 100%, 1);
  border-top: 1px #858585 solid;
  padding-top: 8px;
  padding-bottom: 5px;
  z-index: 200;
}

.footer {
  text-align: center;
}

.footer nav {
  font-size: 0.75em;
  text-transform: uppercase;
}

.footer ul {
  list-style-type: none;
  display: inline;
}

.footer li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}