@import: boxes.css;

#logo {
  font-weight: 250;
}

body {
  font: 1.12em "Helvetica" "Arial" sans-serif;
  font-weight: 100;
  color: #595959;
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(0, 0%, 21%);
  font-weight: 100;
  letter-spacing: -1px;
}

h1 {
  text-transform: uppercase;
}

a {
  transition: all .125s linear 0;
  color: hsl(12, 82%, 49%);
  text-decoration: none;
}

a:hover {
    color: hsl(40, 100%, 57%);
}

h2 + ul {
  list-style-type: none;
}

h2 + ul li {
  transition: all .125s linear 0;
  margin-top: -10px;
  margin-bottom: -5px;
  padding-bottom: 5px;
}


h2 + ul p {
  margin-top: -15px;
  margin-bottom: 0px;
  margin-left: 10px;
}

h2 + ul li:hover {
  box-shadow: 4px 4px 8px hsla(0, 0%, 86%, 1);
}

