@import: boxes.css;

#logo {
  font-weight: 250;
}

body {
  font: 1.12em "Helvetica" "Arial" sans-serif;
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
  color: hsl(0, 0%, 21%);
  font-weight: 100;
  letter-spacing: -1px;
}

h1 {
  text-transform: uppercase;
}

a {
  transition: all .125s linear 0;
  color: hsl(12, 82%, 49%);
  text-decoration: none;
}

a:hover {
    color: hsl(40, 100%, 57%);
}

