<header class="header">
<ul>
  <li>
    <div class="top-nav">
      <ul>
        <li><h1 id="logo">David Roberts</h1></li>
        <li><%= link_to "home",   root_path %></li>
        <li><%= link_to "software",    software_path %></li>
        <li><%= link_to "music", music_path %></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="social">
      <ul>
        <li><a href="http://www.twitter.com/smoip"><span id="twitter"></span></a></li>
        <li><a href="http://www.github.com/smoip"><span id="github"></span></a></li>
        <li><a href="mailto:drsmoip@gmail.com"><span id="email"></span></a></li>
      </ul>
    </div>
  </li>
</ul>
</header>