<header class="top-bar">
<ul>
  <li>
    <div class="top-nav">
      <ul>
        <li><h1 id="logo">David Roberts</h1></li>
        <li><%= link_to "home",   root_path %></li>
        <li><%= link_to "software",    software_path %></li>
        <li><%= link_to "music", music_path %></li>
      </ul>
    </div>
  </li>
  <li>
    <div class="social">
      <ul>
        <li><a href="http://www.twitter.com/smoip">T</a></li>
        <li><a href="http://www.github.com/smoip">G</a></li>
        <li><a href="mailto:drsmoip@gmail.com">E</a></li>
      </ul>
    </div>
  </li>
</ul>
</header>